{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
            <style>
                body{
                    background-color : #dc3545;
                }
            </style>
        {% endblock %}
{% block body %}
    <h1 class="text-center text-light">Bienvenue sur le site de Noel & Cie</h1>
    <h6 class="text-center fst-italic text-light">Les meilleurs produits du marché</h6>

    <div class="col-md-12 d-flex justify-content-around">
    {% for boule in boules %}
        <div class="d-flex flex-column">
            <a href="{{ path("boule_presentation", {"id" : boule.id}) }}">
                <img src="{{asset("") ~ boule.photo }}" alt="" class="rounded-circle">
            </a>
            {% if boule.promotion != null %}
                <p class="text-warning text-center">PROMOTION</p>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}

        
